body {
  font-family: "Droid Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

input, textarea {
  border: 2px solid #6e8c62;
}

span {
  color: #70ad55;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    border: 2px solid #6e8c62;
}

textarea {
  height: 9em;
}

button {
  background-color: #6e8c62;
  border: none;
  padding-left: 2.3em;
  padding-right: 2.3em;
  padding-top: .5em;
  padding-bottom: .5em;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border-color: #70ad55;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
}
