body {
  font-family: "Droid Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

input, textarea, select {
  border: 2px solid #6e8c62;
}

span {
  color: #70ad55;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  border: 2px solid #6e8c62;
}

textarea {
  height: 9em;
}

button {
  background-color: #6e8c62;
  border: none;
  padding-left: 2.3em;
  padding-right: 2.3em;
  padding-top: .5em;
  padding-bottom: .5em;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

hr {
  border-color: #70ad55;
}

@media only screen and (min-width: 36em) {

  .space-right {
    padding-right: .5em;
  }

  .space-left {
    padding-left: .5em;
  }

}

fieldset {
  border: none;
}
